@charset "gb2312";
body {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
*{
	margin: 0;
	padding: 0;
}

.Order_price{
	text-align:right;
	display: inline;
	color:#F00;
	font-size:35px;
	margin:10px auto;
	font-weight:bold;
	border-bottom: 1px solid #CCC;
}

.Order_bottom{
	width:1200px;
	text-align:right;
	margin:10px auto;
}

.Op{
	margin-right: 50px;
	width:120px;
	padding: 5px;
	font-size:25px;
	border:2px solid #8c8c8c;
	border-radius:5px;
	text-decoration:none;
	text-align:right;
}